:root {
  --oscuro: #07070a;
  --azulOscuro: #0a1128;
  --azulClaro: #006fe6;
  --blanco: #fefcfb;
  --titulos: "Baloo 2", cursive;
  --parrafos: "Montserat", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::before {
  box-sizing: inherit;
}

/*estilos globales*/
h1,
h2,
h3 {
  font-family: var(--titulos);
}

p.a {
  font-family: var(--parrafos);
}

.ocultar {
  display: none;
}
/*encabezado*/
.encabezado {
  background-color: orangered; /*logo fondo*/
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 70rem;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.encabezado::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.logo h2 {
  font-size: 3rem;
}

.logo h2 span {
  color: var(--azulClaro);
}

.contenido-navegacion {
  display: flex;
  align-items: center;
  justify-content: space-around; /*centrar menus*/
  background-color: var(--blanco); /*Separar Linea Blanca*/
  box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45); /*sombrear fondo*/
}
.navegacion {
  background-color: var(--blanco);
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  animation: desplazamiento 0.5s ease-in-out;
}

.navegacion a {
  display: block;
  font-size: 2rem;
  padding: 1.1rem; /*separar el texto hacia abajo */
  color: var(--oscuro);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.navegacion a:hover {
  background-color: var(--azulClaro);
  color: var(--blanco);
}
@media (min-width: 768px) {
}

.hamburguesa span {
  width: 5rem;
  height: 1rem;
  border: 3px solid white;
  background-color: var(--oscuro);
  display: block;
}
/*contenido del emcabezado*/
.texto-encabezado h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--blanco);
  padding-top: 8rem;
}

.formulario-encabezado {
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  border-radius: 0.5rem;
}

.films {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.films-film {
  flex-basis: 48%;
}

.film__wrapper {
  width: 100%;
}

.film__wrapper video {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .films-film {
    flex-basis: 100%;
  }
}
